CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/nix/store/0i2b82q8w7r412xmdhj84gg74jgpym2x-gcc-13.4.0/include/c++/13.4.0
    - -I/nix/store/0i2b82q8w7r412xmdhj84gg74jgpym2x-gcc-13.4.0/include/c++/13.4.0/x86_64-unknown-linux-gnu
    - -I/home/marco/Github/pkt/include
    - -I/home/marco/Github/pkt/third_party
    - -I/nix/store/3rmkhsb7p1pryd1za3qm5px5yfbzrgw4-cuda-merged-12.8
    - --cuda-path=/nix/store/3rmkhsb7p1pryd1za3qm5px5yfbzrgw4-cuda-merged-12.8
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -Xcompiler=*
    - --options-file
    - --use_fast_math
    - -rdc=true
    - -G

---

If:
  PathMatch: [.*\.cu, .*\.cuh]
CompileFlags:
  Add:
    - -xcuda
    - --no-cuda-version-check
    - --cuda-gpu-arch=sm_86

