CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/nix/store/9ds850ifd4jwcccpp3v14818kk74ldf2-gcc-14.2.1.20250322/include/c++/14.2.1.20250322/
    - -I/nix/store/9ds850ifd4jwcccpp3v14818kk74ldf2-gcc-14.2.1.20250322/include/c++/14.2.1.20250322//x86_64-unknown-linux-gnu
    - -I/usr/local/cuda/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*

---

# CUDA-specific configuration for .cu and .cuh files
If:
  PathMatch: [.*\.cu, .*\.cuh]
CompileFlags:
  Add:
    - --cuda-gpu-arch=sm_89
    - -xcuda
    - --no-cuda-version-check

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
