CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/nix/store/ffrg0560kj0066s4k9pznjand907nlnz-gcc-14.3.0/include/c++/14.3.0/
    - -I/nix/store/ffrg0560kj0066s4k9pznjand907nlnz-gcc-14.3.0/include/c++/14.3.0//x86_64-unknown-linux-gnu
    - -I/usr/local/cuda/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*

---

# CUDA-specific configuration for .cu and .cuh files
If:
  PathMatch: [.*\.cu, .*\.cuh]
CompileFlags:
  Add:
    - --cuda-gpu-arch=sm_86
    - -xcuda
    - --no-cuda-version-check

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
